section{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.steps-max-container{
  display: flex;
  justify-content: space-around;
}

body{
  margin-top: 10%;
}

h1{
  font-size: 3rem;
}