button{
    padding:1%;
    margin: 5%;
    width: 10%;
    background-image: linear-gradient(to top, rgba(235, 169, 169, 0.467),rgba(186, 91, 91, 0.533),rgba(234, 22, 15, 0.333));
    cursor: pointer;
    border-radius: 10px;
    color:#ffffff;
    font-weight: bold;
    font-size: 1.2rem;
}

.changer-containe{
    width: 2000%;
}

button:hover{
    transform: translateX(4px);
    color: bisque;
}